* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section#header {
  background-color: #f9f9f9;
  height: 80vh;
}

section#header header {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

section#header header .logo {
  width: 90%;
  margin: 0 auto;
  font-size: 40px;
  color: #6C63FF;
  font-weight: bolder;
}

section#header .hero {
  height: 65vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#header .hero .text {
  width: 50%;
}

section#header .hero .text h1 {
  color: #6C63FF;
  font-size: 35px;
  padding-bottom: 10px;
}

section#header .hero .text p {
  color: #808080;
}

section#header .hero .asset {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#header .hero .asset img {
  width: 80%;
}

#courses {
  width: 90%;
  margin: 20px auto;
}

#courses .title {
  color: #6C63FF;
  padding-bottom: 10px;
  padding-left: 10px;
}

#courses .courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#courses .courses .course {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 250px;
  width: 250px;
  padding: 10px;
}

#courses .courses .course img {
  width: 100%;
  height: 150px;
}

#courses .courses .course p {
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
}

#courses .courses .course button {
  outline: none;
  border: none;
  background-color: #6C63FF;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}

.addCourse {
  width: 100%;
  margin-top: 40px;
}

.addCourse form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 20px 0;
  gap: 15px;
}

.addCourse form div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.addCourse form div input,
.addCourse form div textarea {
  width: 100%;
  outline: none;
  border: 1px solid #6C63FF;
  padding: 5px;
}

.addCourse form button {
  width: 90%;
  margin: 0 auto;
  outline: none;
  border: none;
  color: #fff;
  background-color: #6C63FF;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #f9f9f9;
  padding: 10px 0;
  text-align: center;
}